<div class="navbar">
    <img src='./Assets/Images/logo-white.png' alt='I-Ford Gaming' class='image'></img>
    <div class="search-container">
        <input type="text" placeholder="Search"></input>
        <button type="button" class="fa fa-search"></button>
    </div>

    <div class="topnav-right">
        <a href='./Cart'><i class="fa fa-shopping-cart">&ensp;Cart<span>0</span></i></a>
        <a href='./Help'><i class="fa fa-question-circle">&ensp;Help</i></a>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Account Details&ensp;<i class="fa fa-angle-down"></i>
        </button>
        <div class="dropdown-content">
            <a href='./Accounts/MyAccount'><i class="fa fa-user">&nbsp;My Account</i></a>
            <a href='./Accounts/Orders'><i class="fa fa-shopping-bag">&nbsp;Orders</i></a>
            <a href='./Accounts/Inbox'><i class="fa fa-envelope">&nbsp;Inbox</i></a>
            <a href='./Accounts/Saved'><i class="fa fa-heart">&nbsp;Saved Items</i></a>
        </div>
    </div>

</div>