<div id="divMenu">    
    <ul>    
        <li><a>PlayStation 3&ensp;<i class="fa fa-angle-right" style="font-size:24px"></i></a>    
            <ul>    
                <li><a href="../PS3/Consoles">Consoles</a></li>    
                <li><a href="../PS3/Controllers">Controllers</a></li>    
                <li><a href="../PS3/Games">Digital Games</a></li>    
            </ul>    
        </li>         
    </ul> 
    <ul>    
        <li><a>PlayStation 4&ensp;<i class="fa fa-angle-right" style="font-size:24px"></i></a>    
            <ul>    
                <li><a href="../PS4/Consoles">Consoles</a></li>    
                <li><a href="../PS4/Consoles">Controllers</a></li>    
                <li><a href="../PS4/Consoles">Games</a></li>    
            </ul>    
        </li>         
    </ul>  
    <ul>    
        <li><a>PlayStation 5&ensp;<i class="fa fa-angle-right" style="font-size:24px"></i></a>    
            <ul>    
                <li><a href="../PS5/Consoles">Consoles</a></li>    
                <li><a href="../PS5/Consoles">Controllers</a></li>    
                <li><a href="../PS5/Consoles">Games</a></li>  
            </ul>    
        </li>         
    </ul>    
    <ul>    
        <li><a>PC Games&ensp;&ensp;&ensp;<i class="fa fa-angle-right" style="font-size:24px"></i></a>    
            <ul>    
                <li><a href="../PC/Games">Games</a></li>   
            </ul>    
        </li>         
    </ul>  
</div> 